<%- include('../layout/header') %>

<!-- Page Title -->
<section id="starter-section" class="card p-4">
  <div class="container section-title" data-aos="fade-up">
    <h1>Thêm mới bài viết</h1>
  </div>
  <div class="container" data-aos="fade-up">
    <style>
      .tox-statusbar__branding,
      .tox-promotion {
        display: none;
      }
    </style>
    <form action="/articles" method="post">
      <div class="form-group">
        <label for="">Tiêu đề</label>
        <input name="title" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="">Ngôn ngữ</label>
        <select name="language" id="" class="form-select">
          <% Languages.forEach(language => { %>
          <option value="<%=language.id%>">
            ( <%=language.code%> ) <%=language.name%>
          </option>
          <%})%>
        </select>
      </div>
      <div class="form-group">
        <label for="">Vị trí bị phụ thuộc</label>
        <select name="area" id="selectArea" class="form-select">
          <option value=""></option>
          <% areas.forEach(area => { %>
          <option value="<%= area.id %>">
            <%= area.code %>. <%= area.name %>
          </option>
          <% }) %>
        </select>
        <label for="">Vị trí phụ thuộc</label>
        <select name="areaSmall" id="selectAreaSmall" class="form-select">
          <option value=""></option>
          <% areaSmalls.forEach(areaSmall => { %>
          <option value="<%= areaSmall.id %>">
            (<%= areaSmall.area.code %>) <%= areaSmall.name %>
          </option>
          <% }) %>
        </select>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
          $(document).ready(function () {
            $('#selectArea').change(function () {
              if ($(this).val() !== 'null') {
                $('#selectAreaSmall').val('null') // Reset select 2
              }
            })
            $('#selectAreaSmall').change(function () {
              if ($(this).val() !== 'null') {
                $('#selectArea').val('null') // Reset select 1
              }
            })
          })
        </script>
      </div>
      <label for="">Nội dung</label>
      <textarea name="content" id="default"></textarea>
      <button class="btn btn-primary">Xác nhận</button>
    </form>
    <script src="/tinymce/tinymce.min.js"></script>
    <script>
      tinymce.init({
        selector: 'textarea#default',
        width: 1000,
        height: 300,
        plugins: [
          'advlist',
          'autolink',
          'link',
          'image',
          'lists',
          'charmap',
          'preview',
          'anchor',
          'pagebreak',
          'searchreplace',
          'wordcount',
          'visualblocks',
          'code',
          'fullscreen',
          'insertdatetime',
          'media',
          'table',
          'emoticons',
          'template',
          'codesample'
        ],
        toolbar:
          'undo redo | styles | bold italic underline | alignleft aligncenter alignright alignjustify |' +
          'bullist numlist outdent indent | link image media | print preview fullscreen | ' +
          'forecolor backcolor emoticons',
        menu: {
          favs: {
            title: 'menu',
            items: 'code visualaid | searchreplace | emoticons'
          }
        },
        menubar: 'favs file edit view insert format tools table',
        content_style:
          'body{font-family:Helvetica,Arial,sans-serif; font-size:16px}'
      })
    </script>
  </div>
</section>
<!-- /Starter Section Section -->
<%- include('../layout/footer') %>
