<%- include('../layout/header') %>
<!-- Page Title -->
<section class="card p-4">
  <div class="table-responsive scrollbar">
    <div class="container section-title" data-aos="fade-up">
      <h1>Danh sách loại vé</h1>
    </div>
    <div id="tableExample3" data-list='{"valueNames":["stt","name"],"page":10,"pagination":true}'>
      <div class="row justify-content-between g-0 mb-3">
        <div class="col-auto">
          <a href="/type-ticket/create" class="btn btn-primary btn-sm">Thêm loại vé</a>
        </div>
        <div class="col-auto col-sm-5">
          <form>
            <div class="input-group">
              <input class="form-control form-control-sm shadow-none search" type="search" placeholder="Tìm kiếm..." aria-label="search" />
              <div class="input-group-text bg-transparent">
                <span class="fa fa-search fs-10 text-600"></span>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="table-responsive scrollbar">
        <table class="table table-bordered table-hover table-striped fs-10 mb-0">
          <thead class="bg-200">
            <tr>
              <th class="text-900 sort" data-sort="stt">STT</th>
              <th class="text-900 sort" data-sort="name">Tên</th>
              <th class="text-center">Hành động</th>
            </tr>
          </thead>
          <tbody class="list">
            <% typeTickets.forEach(function(type, index) { %>
            <tr>
              <td class="stt"><%= index+1 %></td>
              <td class="name"><%= type.name %></td>
              <td class="text-center">
                <a href="/type-ticket/edit/<%= type.id %>" class="btn btn-warning btn-sm">
                  <i class="fas fa-edit"></i> Sửa
                </a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-sm btn-falcon-default me-1" type="button" title="Trang trước" data-list-pagination="prev">
          <span class="fas fa-chevron-left"></span>
        </button>
        <ul class="pagination mb-0"></ul>
        <button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Trang sau" data-list-pagination="next">
          <span class="fas fa-chevron-right"></span>
        </button>
      </div>
    </div>
    <!-- Delete Confirmation Modal -->
  </div>
</section><!-- /Starter Section Section -->
<%- include('../layout/footer') %>